# Refactoring Smelly Code

- custom exeption
- `Enum` child
- dataclass

In [2]:
from enum import Enum, auto

## `enum` part 1

- Enums are used to represent constants.

In [93]:
from enum import Enum

# `RED` is a symbolic name.
# `1` is a unique value.


class Color(Enum):
    RED = 1
    BLUE = 2
    GREEN = 3

In [95]:
# Color.RED is an enum object, it is not just str value.
type(Color.RED)

In [ ]:
# `MONDAY = 1` is the first member.
# `MONDAY` is the name of the member.
# `1` is the value of the member.
class Weekday(Enum):
    MONDAY = 1
    TUESDAY = 2
    WEDNESDAY = 3
    THURSDAY = 4
    FRIDAY = 5
    SATURDAY = 6
    SUNDAY = 7

In [10]:
# `repr()` shows the enum name, the member name and value.
Weekday(4)

In [11]:
# `str()` shows the enum name and member value.
print(Weekday(4))
print(Weekday.FRIDAY)

Weekday.THURSDAY
Weekday.FRIDAY

In [104]:
# Access the member by name. Two ways:

# attribute access syntax
Weekday.FRIDAY

# item access syntax (like a dict)
Weekday['FRIDAY']

In [105]:
# Access the member name.
print(Weekday.THURSDAY.name)

THURSDAY

In [106]:
# Access the member value.
print(Weekday.THURSDAY.value)

4

In [15]:
# Access the member by value.
Weekday(4)

In [19]:
# Print member info.
Weekday.FRIDAY?

Type:        Weekday
String form: Weekday.FRIDAY
Docstring:   An enumeration.

In [56]:
# Print class infp.
Weekday?

Init signature:
Weekday(
    value,
    names=None,
    *,
    module=None,
    qualname=None,
    type=None,
    start=1,
)
Docstring:      An enumeration.
Type:           EnumMeta
Subclasses:

## `enum` part 2

In [57]:
# Fix set of values. In this case: roles in a company.
MANAGER = 'MANAGER'
SUPERVISOR = 'SUPERVISOR'
INTERN = 'INTERN'

# Enum provides a way to represent the set of values
# as class attributes.


class EmployeePosition(Enum):
    MANAGER = 'MANAGER'
    SUPERVISOR = 'SUPERVISOR'
    INTERN = 'INTERN'


# Use `EmployeePosition.MANAGER` instead of `MANAGER`.

# Enumerations have advantages over simple class
# attributes or global constants.

In [69]:
# Define enumeration (class).
class MyEnum(Enum):
    pass

# Define members as class attributes.


class MyEnum(Enum):
    MEMBER1 = 3
    MEMBER2 = 2
    MEMBER3 = auto()  # automatically assigned value

In [70]:
# Access the value of a member.
print(MyEnum.MEMBER3.value)

3

In [75]:
# Iterate over the members.
for position in EmployeePosition:
    print(position)

EmployeePosition.MANAGER
EmployeePosition.SUPERVISOR
EmployeePosition.INTERN

## `enum` use cases

In [96]:
# Represent choices or options.
# To ensure valid input.

class Weekday(Enum):
    MONDAY = 1
    TUESDAY = 2
    WEDNESDAY = 3
    THURSDAY = 4
    FRIDAY = 5
    SATURDAY = 6
    SUNDAY = 7


def process_weekday(day):
    if day in (Weekday.SATURDAY, Weekday.SUNDAY):
        print("It's the weekend!")
    else:
        print("It's a weekday.")


# Weekday.SATURDAY != 6
# Weekday.SATURDAY is an enum object, not just str value.
process_weekday(6)
process_weekday(Weekday.SATURDAY)

It's a weekday.
It's the weekend!

In [100]:
# TypeError: unsupported operand type(s) for |
# Weekday.MONDAY | Weekday.TUESDAY

In [92]:
# Represent states.
class TrafficLight(Enum):
    GREEN = 'Go'
    YELLOW = 'Prepare to stop'
    RED = 'Stop'


def process_traffic_light(light):
    if light == TrafficLight.GREEN:
        print("You can go.")
    elif light == TrafficLight.YELLOW:
        print("Prepare to stop.")
    elif light == TrafficLight.RED:
        print("Stop.")


process_traffic_light('sdsdsd')  # Output: None
process_traffic_light('Go')  # Output: None
process_traffic_light('Stop')  # Output: None
process_traffic_light(TrafficLight.GREEN)  # Output: 'You can go.'

You can go.

In [97]:
type(TrafficLight.GREEN)

In [101]:
# TypeError: unsupported operand type(s) for |
# TrafficLight.GREEN | TrafficLight.YELLOW

## `enum` automatic values

In [114]:
# Showcase how `auto()` class works.
class MotorFamily(Enum):
    INDUCTION = 3
    RELUCTANCE = auto()
    DC = -23
    AC = auto()


[member.value for member in MotorFamily]

[3, 4, -23, -22]

In [117]:
# Custom automatic values.
class AutoName(Enum):
    def _generate_next_value_(name, start, count, last_values):
        return name


class CompassDirection(AutoName):
    NORTH = auto()
    SOUTH = auto()
    EAST = auto()
    WEST = auto()


[member.value for member in CompassDirection]

['NORTH', 'SOUTH', 'EAST', 'WEST']

## `enum` part 3

In [118]:
list(CompassDirection)

[<CompassDirection.NORTH: 'NORTH'>,
 <CompassDirection.SOUTH: 'SOUTH'>,
 <CompassDirection.EAST: 'EAST'>,
 <CompassDirection.WEST: 'WEST'>]

In [119]:
Weekday.__members__

mappingproxy({'MONDAY': <Weekday.MONDAY: 1>,
              'TUESDAY': <Weekday.TUESDAY: 2>,
              'WEDNESDAY': <Weekday.WEDNESDAY: 3>,
              'THURSDAY': <Weekday.THURSDAY: 4>,
              'FRIDAY': <Weekday.FRIDAY: 5>,
              'SATURDAY': <Weekday.SATURDAY: 6>,
              'SUNDAY': <Weekday.SUNDAY: 7>})

## Dataclass

In [124]:
# a dataclass is a way to create classes that are
# primarily used to store data
from dataclasses import dataclass

# Define a dataclass `Person` with two fields.


@dataclass
class Person:
    name: str
    age: int


# Create an instance.
Person('Ivan', 32)

Person(name='Ivan', age=32)

In [125]:
# Access the instance fields.
person1 = Person('Gosho', 44)
person1.name, person1.age

('Gosho', 44)

## Dataclasses use cases

In [127]:
# This will not raise an exception.
class Point:
    x: float
    y: float


# Store the coordinates of points.
@dataclass
class Point:
    x: float
    y: float

In [131]:
# Some more example uses.
from typing import List


@dataclass
class Student:
    name: str
    grade: int
    marks: List[float]


@dataclass
class Car:
    brand: str
    model: str
    year: str

In [144]:
from math import sqrt


@dataclass
class Point:
    x: float
    y: float

    @property
    def distance_to_origin(self):
        return round(sqrt(self.x**2 + self.y**2), 2)


def __add__(self, other):
    if not isinstance(other, Point):
        raise TypeError(
            "Unsupported operand type. Addition is only supported between Point instances.")

    return type(self)(self.x + other.x, self.y + other.y)


p1 = Point(1, 1)
p1.distance_to_origin

p2 = Point(2, 5)
p1 + p2
# p1 + 3  # TypeError: unsupported...

TypeError: unsupported operand type(s) for +: 'Point' and 'Point'

## Logical and bitwise operations

In [38]:
# `|` = bitwise or
# 1 = b01
# 3 = b11
# 1 | 3 = (bitwise = bit by bit) = b11
1 | 3

3

In [33]:
# Regular OR - uses the value 'truethfulness'
# any non-zero integer is True
# True or True
1 or 3

1

In [35]:
# True and True, but the second operand is returned.
1 and 3

3

In [37]:
# As above.
3 and 1

1

In [41]:
# True = 1 = b001
# 6 = b110
# True | 6 = b001 | b110 = b111 = 7

True | 6

7

In [46]:
# If both operands are considered true,
# the AND operation returns the second operand.
True and 4

4

In [50]:
4 and True

True

In [54]:
# The logical AND operation stops evaluating as soon as
# it encounters a false operand. The result is the first
# false operand encountered.

True and 0

0

In [55]:
0 and True

0

In [45]:
# & = bitwise `and`
# b001 & b100 = b000
True & 4

0

In [49]:
# b101 & b100 = b100
5 & 4

4